YC_FOLDER_ID=идентификатор каталога - получить здесь https://yandex.cloud/ru/docs/resource-manager/operations/folder/get-id
YC_SECRET_KEY=Секретный ключ в Yandex Cloud ML SDK - получить здесь https://yandex.cloud/ru/docs/foundation-models/sdk/